<div class='row'>
  <div class="stocktwits"><%= render 'partials/sidebar' %></div>
  <%= render 'partials/stock_list' %>
  <%= render 'partials/stockcharts' %>
  <%= render 'partials/bitcoin' %>
<<<<<<< HEAD
<!--   <div class="portfolio"><%#= render 'partials/portfolio' %></div>
</div> -->
=======
  <!-- <div class="portfolio"><%#= render 'partials/portfolio' %></div> -->
</div>
>>>>>>> ca38eae761296dace11585c727e115a6d26a61cf
